@font-face {
  font-family: simple;
  src: url(KGPerfectPenmanship.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: simple;
}

header {
  height: 200px;
  width: 100%;
  background-color: rgb(9, 6, 63);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  align-items: center;
}
header h1 {
  text-transform: uppercase;
  font-size: 50px;
}
header p {
  font-style: italic;
  font-size: 20px;
}

main {
  background-color: rgb(248, 241, 241);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
main .section_1 {
  height: 300px;
  width: 80%;
  background-color: #daffe4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  border-radius: 15px;
  padding: 30px;
  text-align: center;
  margin-top: 50px;
}
main .section_1 h1 {
  text-transform: uppercase;
  font-size: 50px;
}
main .section_1 p {
  font-size: 25px;
  width: 80%;
  height: 40%;
  padding-top: 10px;
  background-color: white;
}
main .section_2 {
  height: 320px;
  width: 80%;
  background-color: #eae4fd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  border-radius: 15px;
  padding: 30px;
  text-align: center;
}
main .section_2 h1 {
  text-transform: uppercase;
  font-size: 50px;
}
main .section_2 p {
  font-size: 25px;
  width: 70%;
  height: 25%;
  padding-top: 15px;
  background-color: white;
}
main .section_3 {
  height: 400px;
  width: 80%;
  background-color: #fdf2c1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  border-radius: 15px;
  padding: 30px;
  text-align: center;
}
main .section_3 h1 {
  text-transform: uppercase;
  font-size: 50px;
}
main .section_3 p {
  font-size: 25px;
  width: 70%;
  height: 25%;
  padding-top: 15px;
  background-color: white;
}
main .section_4 {
  height: 380px;
  width: 80%;
  background-color: #dcf1ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  border-radius: 15px;
  padding: 30px;
  text-align: center;
}
main .section_4 h1 {
  text-transform: uppercase;
  font-size: 50px;
}
main .section_4 p {
  font-size: 25px;
  width: 70%;
  height: 25%;
  padding-top: 17px;
  background-color: white;
}
main .section_5 {
  height: 380px;
  width: 80%;
  background-color: paleturquoise;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  border-radius: 15px;
  padding: 30px;
  text-align: center;
  margin-bottom: 50px;
}
main .section_5 h1 {
  text-transform: uppercase;
  font-size: 50px;
}
main .section_5 p {
  font-size: 25px;
  width: 70%;
  height: 40%;
  padding-top: 17px;
  background-color: white;
}

footer {
  height: 100px;
  width: 100%;
  background-color: rgb(9, 6, 63);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  align-items: center;
}
footer p {
  font-size: 20px;
}/*# sourceMappingURL=style.css.map */